
<section>
    <h2>MindBloom & Wellness Haven</h2>
    <address>
        Plot 123, Victoria Island, Lagos State, Nigeria<br />
        <a href="mailto:jgabriel13813@gmail.com">jgabriel13813@gmail.com</a><br />
        +234-907-918-7082
    </address>
</section>

<section>
    <nav class="sociallinks">
        <a href="https://facebook.com"><img src="public/images/facebook.webp" alt="Facebook" /></a>
        <a href="https://twitter.com"><img src="public/images/twitter.webp" alt="Twitter" /></a>
        <a href="https://instagram.com"><img src="public/images/instagram.webp" alt="Instagram" /></a>
    </nav>
</section>

<section>
    <p>WDD330 Class Project</p>
    <p>By Johnson Nsisong Gabriel</p>
    <p>&copy; <span id="currentyear"></span> MindBloom & Wellness Haven</p>
</section>

